//Tipografia
$primaria: 'Viga', sans-serif;

//Tamaño Tipografia
//Parrafo
$tamañoParrafo: 15px;

//Colores
//Primario
$naranjaSuave: hsl(35, 77%, 62%);
$rojoSuave: hsl(5, 85%, 63%);

//Neutral
$fondo: hsl(36, 100%, 99%);
$azulGrisC: hsl(233, 8%, 79%);
$azulGrisO: hsl(236, 13%, 42%);
$azulOsc: hsl(240, 100%, 5%);



